:root {
    --azulmarinho-color: #1a2855;
    --cinzaescuro-color: #333333;
    --cinzamedio-color: #888888;
    --cinzaclaro-color: #d3d3d3;
    --branco-color: #fff;
    --azulceleste-color: #70A9A1;
    --cinzacarvao-color: #595959;
    --prata-color: #c0c0c0;
    --cinzapalido-color: #ececec;
    --preto-color: #000;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cinzapalido-color);
}

nav {
    height: 7vw;
    background-color: var(--preto-color);
}

a:link {
    text-decoration: none;
}

.nav-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4.5vw;
}

.nav-main h1 {
    padding: 1vw;
    padding-left: 2vw;
    font-size: 40px;
    align-self: center;
}

.nav-search {
    padding: 1.5vw;
}

.nav-search input {
    width: 40vw;
    height: 1.5vw;
    background-color: var(--azulmarinho-color);
    padding-right: 0;
    margin-right: 0;
    text-indent: 20px;
    border-radius: 5px;
}

.nav-search button {
    margin-left: 0;
    width: 5vw;
    height: 1.5vw;
    background-color: var(--azulceleste-color);
    border-radius: 5px;
}

.nav-tab {
    background-color: var(--cinzacarvao-color);
    height: 2.5vw;
    overflow: hidden;
}


.nav-tab ul {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav-tab-items {
    flex: 1;
    padding: 0;
    margin: 0;
}

.nav-tab-items a {
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    padding: 3% 0;
    height: 100%;
}

.nav-tab ul li a:hover {
    background-color: var(--azulceleste-color);
}

.container {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "main aside";
}

main {
    grid-area: main;
    grid-column-gap: 0;
}

aside {
    grid-area: aside;
}



.main-header-title {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}


.line {
    align-self: center;
    width: 50.5vw;
    border-bottom: 2px black solid;
}



.main-header-title {
    display: flex;
    flex-direction: row;
}



.main-header-title h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-right: 5rem;
    white-space: nowrap;
}




.news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}


.news-cards-items {
    background-color: var(--azulmarinho-color);
    width: 32vw;
    height: 50vh;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.news-cards-items-container {
    color: var(--branco-color);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2em;
}


.news-cards-items-content {
    padding: 2rem;
    display: flex;
    font-size: 1.5rem;
}

.news-cards-items-date {
    display: flex;
    padding: 0 2rem;
}

.news-cards-items-date span {
    padding: 0 1rem;
}

#btn-vw-more {
    width: 7%;
    margin: 3% 47%;
    padding: 0.7rem 0;
    border-radius: 5px;
    background-color: var(--azulmarinho-color);
    color: var(--branco-color);
}

.trending {
    padding: 3rem 0;
}

.main-trending {
    display: flex;
    background-color: var(--branco-color);
    width: 100%;
    align-items: center;
    padding: 1vw 0;
    margin-right: 2rem;
    justify-content: space-between;
    border-radius: 7px;
}

.main-trending p {
    font-size: 2rem;
    padding-left: 1vw;
}

.main-trending-button {
    text-align: center;
    background-color: var(--preto-color);
    color: var(--branco-color);
    width: 6vw;
    height: 1.5vw;
    border-radius: 5px;
    margin-right: 2rem;
}

.trending-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.trending-cards-news {
    background-color: var(--azulceleste-color);
    width: 26.5vw;
    height: 16vh;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}


@media (max-width: 1400px) {

    .container {
        grid-template-areas:
            "main"
            "aside";
        grid-template-columns: 1fr;
    }

    .main-header-title {
        flex-direction: column;
        justify-content: center;
    }

    .main-header-title h1 {
        padding-right: 0;
    }

    .line {
        padding-top: 1.5rem;
    }

    .news-cards-header {
        display: flex;
        justify-content: center;
    }


    .news-cards-items {
        width: 40vw;
        height: 25vh;
    }

    .news-cards-items-content {
        font-size: 1em;
    }

    .news-cards-items-date {
        font-size: 0.75rem;
    }

    #btn-vw-more {
        width: 10%;
        margin: 3% 45%;
    }
}

@media (max-width: 600px) {
    .news-cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .news-cards-items {
        width: 70vw;
        height: 30vh;
    }

    #btn-vw-more {
        width: 20%;
        margin: 3% 40%;
    }
}

@media (max-width: 400px) {
    .news-cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .news-cards-items {
        width: 75vw;
        height: 25vh;
    }

    #btn-vw-more {
        width: 30%;
        margin: 3% 35%;
    }
}